<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            {%csrf_token%}
            <label>Username: </label>
            <input type="text" id="ue" name="ue" placeholder="Enter your username">
            <label>Password: </label>
            <input type="password" id="pass1" name="pass1" placeholder="Enter your password">
            <input type="submit" value="Sign in"></input>
        </form>
</body>
</html>